@import 'mixins';
@import 'colors';
@import 'header';
@import 'footer';
@import 'home';
@import 'akcioink';
@import 'kivitelezes';
@import 'kapcsolat';
@import 'teglahaz';
@import 'thermohaz';

html, body{
	margin: 0;
	padding: 0;
	background: $color-secondary;
}
