.overlay-fixed-header{
    @media(min-width: 767px){
        display: none;
    }
    @media(max-width: 767px){
        //height: 129px;
        height: 140px;
    }
    @media(max-width: 473px){
        height: 183px;
    }
}
section.top-menu {
    margin-top: 20px;
    .container {
        width: 984px;
        @media(max-width: 984px) {
            width: 100%;
        }
    }
    section.header-top {
        margin-bottom: 20px;
        .container {
            padding: 0;
            @media(max-width: 1100px) {
                padding: 0 15px;
            }
        }
        .logo-container {
            .search-btn{
                position: absolute;
                left: 0;
                top: 12px;
                cursor: pointer;
                i {
                    font-size: 20px;
                    vertical-align: middle;
                    color: #4c5359;
                    padding-top: 3px;
                    padding-bottom: 2px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                @media(min-width: 767px){
                    display: none;
                }
            }
            img {
                @media(max-width: 767px) {
                    margin: 0 auto;
                }
            }
            .desktop-logo{
                @media(max-width: 767px){
                    display: none;
                }
            }
            .mobile-logo{
                max-width: 50px;
                @media(min-width: 767px){
                    display: none;
                }
            }
            @media(max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        .header-contact {
            text-align: right;
            padding-right: 0;
            span,
            img {
                display: inline-block;
            }
            span {
                font-family: "Century Gothic", sans-serif;
                font-size: 16px;
                color: #4c5359;
                font-style: normal;
                line-height: 44px;
                font-weight: 700;
                &:first-child {
                    margin-right: 55px;
                    @media(max-width: 473px) {
                        margin-top: 10px;
                        margin-right: 0px;
                    }
                }
                a {
                    color: #4c5359;
                    text-decoration: none;
                }
                @media(max-width: 473px) {
                    width: 100%;
                }
            }
            img {
                padding-right: 25px;
                vertical-align: text-bottom;
            }
            @media(max-width: 1100px) {
                padding-right: 15px;
            }
            @media(max-width: 767px) {
                margin-bottom: 10px;
                text-align: center;
            }
        }
        @media(max-width: 767px) {
            margin-bottom: 0;
        }
    }
    .top-menu {
        padding: 0;
        background-color: #4c5359;
        width: 100% !important;
        z-index: 1000 !important;
        .container {
            width: 1014px;
            @media(max-width: 1014px) {
                width: 100%;
            }
        }
        .container,
        .collapse {
            padding: 0;
            @media(max-width: 991px) {
                padding: 0 15px;
            }
            @media(max-width: 840px){
                padding: 0;
            }
            @media(max-width: 767px){
                padding: 0 15px;
            }
        }
        .navbar {
            border: none;
            padding: 0;
        }
        @media(max-width: 767px) {
            //height: 0;
            display: none;
            &.opened {
                display: block;
            }
        }
    }
    .header-menu-items {
        padding-left: 0px;
        padding-right: 0px;
        max-height: 54px;
        height: 100%;
        .navbar-collapse {
            height: 54px !important;
            .navbar-nav {
                display: inline-block;
                li {
                    padding-top: 13px;
                    a {
                        color: #999999;
                        line-height: 18px;
                        font-size: 13px;
                        text-transform: uppercase;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        border-top: 1px solid transparent;
                        &:hover {
                            border-top: 1px solid #545b60;
                            border-bottom: 3px solid #ffb642;
                            background-color: transparent;
                        }
                        &:focus{
                            background-color: transparent;
                        }
                        @media(max-width:767px){
                            display: inline-block;
                            border-top: 1px solid transparent;
                            border-bottom: 3px solid transparent;
                        }
                    }
                }
                @media(max-width: 767px) {
                    width: 100%;
                    text-align: center;
                    display: block;
                    margin: 0;
                }
            }
            @media(max-width: 840px) {
                padding-right: 0px;
            }
            @media(max-width: 767px) {
                padding-left: 0;
                height: auto !important;
            }
        }
        .search-btn{
            float: right;
            line-height: 52px;
            cursor: pointer;
            i {
                font-size: 20px;
                vertical-align: middle;
                color: #999999;
                padding-top: 3px;
                padding-bottom: 2px;
                padding-left: 20px;
                padding-right: 20px;
                @media(max-width: 768px){
                    padding-left: 0px;
                    padding-right: 10px;    
                }
            }
            @media(max-width: 767px){
                display: none;
            }
        }
        .facebook {
            float: right;
            line-height: 52px;
            i {
                font-size: 38px;
                vertical-align: middle;
                color: #999999;
                padding-top: 3px;
                padding-bottom: 2px;
                padding-left: 20px;
                padding-right: 20px;
                border-left: 1px solid #999999;
                border-right: 1px solid #999999;
            }
            @media(max-width:1100px) {
                padding-right: 15px;
            }
            @media(max-width: 840px) {
                padding-right: 0px;
            }
            @media(max-width:767px) {
                text-align: center;
                float: none;
                margin-top: 10px;
                padding-right: 0;
            }
        }
        @media(max-width:767px) {
            max-height: inherit;
        }
    }
    button {
        @media(max-width: 991px) {
            position: absolute;
            right: 0;
            top: 0;
        }
        @media(max-width: 400px) {
            margin-right: 5px;
        }
    }
    @media(max-width: 767px){
        margin-top: 0;
        background-color: #fff;
        position: fixed;
        padding-top: 10px;
        z-index: 5;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        .icon-bar {
            background-color: #4c5359;
            width: 25px;
            height: 4px;
        }
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .collapse.in {
        display: block !important;
    }
}

#sidebar, .sidebar-mobile{
    position: absolute;
    top: 55px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1000;
    h2{
        display: none;
    }
    #searchform{
        input{
            margin-top: 5px;
            height: 25px;
            font-size: 14px;
            border: 1px solid #000;
            &:first-child{
                position: relative;
                top: 1px;
                padding: 0 15px;
                width: 240px;
            }
            &:last-child{
                width: 110px;
                background-color: #f7912f;
                font-weight: bold;
                padding-top: 0;
                padding-bottom: 0;
                color: #fff;
            }
        }
    }
    &.active{
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transition: opacity 0.5s;
    }
}
/* .mobile-search{
    #sidebar{
        top: auto;
        bottom: -35px;
        input{
            &:first-child{
                top: 0 !important;
                width: 180px !important;
            }
        }
    }
} */
.mobile-search{
    .sidebar-mobile{
        top: auto;
        bottom: -35px;
        input{
            &:first-child{
                top: 0 !important;
                width: 180px !important;
            }
        }
    }
}