section.top-menu{
    margin-top: 20px;
    .container{
        width: 984px;
    }
    section.header-top{
        margin-bottom: 20px;
        .container{
            padding: 0;
        }
        .header-contact{
            text-align: right;
            padding-right: 0;
            span, img{
                display: inline-block;
            }
            span{
                font-family: "Century Gothic", sans-serif;
                font-size: 16px;
                color: #4c5359;
                font-style: normal;
                line-height: 44px;
                font-weight: 700;
                &:first-child{
                    margin-right: 55px;
                }
                a{
                    color: #4c5359;
                    text-decoration: none;
                }
            }
            img{
                padding-right: 25px;
                vertical-align: text-bottom;
            }
        }
    }
    .top-menu{
        .container{
            width: 1014px;   
        }
        padding: 0;
        background-color: #4c5359; 
        .container, .collapse{
            padding: 0;
        }
        .navbar{
            border: none;
            padding: 0;
        }
    }
    .header-menu-items{
        padding-left: 0px;
        padding-right: 0px;
        max-height: 54px;
        height: 100%;
        .navbar-collapse{
            height: 54px !important;
            .navbar-nav{
                display: inline-block;
                li{
                    padding-top: 13px;
                    a{
                        color: #999999;
                        line-height: 18px;
                        font-size: 13px;
                        text-transform: uppercase;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        border-top: 1px solid transparent;
                        &:hover{
                            border-top: 1px solid #545b60;
                            border-bottom: 3px solid #ffb642;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        .facebook{
            float: right;
            line-height: 52px;
            i{
                font-size: 38px;
                vertical-align: middle;
                color: #999999;
                padding-top: 3px;
                padding-bottom: 2px;
                padding-left: 20px;
                padding-right: 20px;
                border-left: 1px solid #999999;
                border-right: 1px solid #999999;
            }
        }
    }
}