section.home-top-img {
    position: relative;
    height: 742px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; //Mediánál kell majd->
    //background-position: center center;
    .overlay {
        position: absolute;
        opacity: 0.20;
        background-color: #000;
        width: 100%;
        height: 100%;
    }
    .home-top-img-content {
        font-family: "Century Gothic", sans-serif;
        position: relative;
        text-align: center;
        padding-top: 277px;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        h1 {
            font-weight: 700;
            font-size: 53.3px;
            line-height: 64px;
            margin-bottom: 15px;
            span {
                color: #f7912f;
            }
            @media(max-width: 767px){
                line-height: 45px;
                font-size: 30px;
            }
        }
        .second-title {
            font-weight: 700;
            line-height: 32.00px;
            font-size: 26.7px;
            color: #fff;
            margin-bottom: 85px;
            @media(max-width: 767px) {
                font-size: 25px;
                margin-bottom: 40px;
            }
        }
        .main-top-img-btn {
            border: 3px solid #fff;
            padding: 20px 40px;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            font-weight: normal;
            transition: all 0.3s;
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
        @media(max-width:767px) {
            padding-top: 30px;
        }
    }
    @media(max-width:767px) {
        height: auto;
        padding-bottom: 40px;
    }
}

section.planning {
    .container {
        width: 984px;
        @media(max-width: 984px) {
            width: 100%;
        }
    }
    .main-title {
        background-color: #f7912f;
        text-align: center;
        h2 {
            line-height: 81px;
            font-size: 25px;
            letter-spacing: 1px;
            font-style: italic;
            color: #fff;
            font-weight: normal;
            @media(max-width: 400px) {
                font-size: 22px;
            }
        }
    }
    .planning-type {
        text-align: center;
        margin-bottom: 52px;
        .col-sm-4 {
            padding-left: 25px;
            padding-right: 25px;
        }
        h3 {
            position: relative;
            margin: 0 auto;
            margin-top: 35px;
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            color: #4c5359;
            padding-bottom: 35px;
            span {
                color: #f7912f;
            }
            &:after {
                content: '';
                position: absolute;
                height: 3px;
                max-width: 105px;
                width: 100%;
                background-color: #f7912f;
                bottom: 0px;
                left: calc(50% - 52.5px);
            }
        }
        img {
            margin: 0 auto;
            margin-top: 35px;
            margin-bottom: 30px;
        }
        .planning-sub-title {
            margin-bottom: 45px;
            font-size: 16px;
            text-transform: uppercase;
            color: #4c5359;
            font-weight: bold;
            @media(max-width: 991px) {
                margin-bottom: 25px;
            }
        }
        .planning-sub-content {
            p {
                text-align: justify;
                line-height: 21.00px;
                font-family: "Century Gothic", sans-serif;
                font-style: normal;
                font-weight: normal;
                color: #4c5359;
                text-decoration: none;
                font-variant: normal;
                font-size: 14.7px;
                vertical-align: 0;
                @media(max-width: 991px) {
                    text-align: center;
                }
            }
            @media(max-width: 991px) {
                max-width: 500px;
                margin: 0 auto;
            }
        }
    }
    .opportunities {
        height: 121px;
        background-color: #4c5359;
        .col-md-4 {
            padding-left: 25px;
            padding-right: 25px;
            @media(max-width: 991px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .row {
            margin-top: 42px;
        }
        .opportunitie {
            text-align: center;
            p {
                display: inline-block;
                text-align: left;
                vertical-align: top;
                line-height: 21.00px;
                font-family: "Century Gothic", sans-serif;
                font-style: normal;
                font-weight: normal;
                color: #ffffff;
                text-decoration: none;
                font-variant: normal;
                font-size: 15.3px;
                @media(max-width: 991px) {
                    font-size: 13px;
                }
            }
            span {
                display: inline-block;
                margin-right: 5px;
                vertical-align: top;
                color: #f7912f;
                font-size: 22px;
                border: 2px solid #f7912f;
                padding: 0 10.6px;
            }
            @media(max-width: 767px) {
                padding-bottom: 30px;
                text-align: inherit;
                margin-left: calc(50% - 110px);
            }
        }
        @media(max-width: 767px) {
            height: auto;
        }
    }
    .implementation {
        .left-box {
            margin-top: 84px;
            @media(max-width: 991px) {
                margin-top: 50px;
            }
            @media(max-width: 350px){
                padding-right: 0px;
            }
        }
        .right-box {
            margin-top: 40px;
        }
        h3 {
            position: relative;
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            color: #4c5359;
            padding-bottom: 25px;
            margin-bottom: 25px;
            span {
                color: #f7912f;
            }
            &:after {
                content: '';
                position: absolute;
                height: 3px;
                max-width: 105px;
                width: 100%;
                background-color: #f7912f;
                bottom: 0px;
                left: 0;
                @media(max-width: 991px) {
                    left: calc(50% - 52.5px);
                }
            }
            @media(max-width: 991px) {
                text-align: center;
            }
        }
        p {
            font-family: "Century Gothic", sans-serif;
            color: #656566;
            font-size: 16px;
            margin-bottom: 40px;
            span {
                color: #f7912f;
            }
            @media(max-width: 991px) {
                text-align: center;
                max-width: 700px;
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }
        .counter {
            padding: 0;
            margin-bottom: 30px;
            span {
                font-size: 16px;
                text-transform: uppercase;
                vertical-align: middle;
                display: inline-block;
                color: #656566;
                &.number {
                    display: inline-block;
                    margin-right: 5px;
                    vertical-align: middle;
                    color: #f7912f;
                    font-size: 22px;
                    border: 2px solid #f7912f;
                    padding: 0 10.6px;
                }
            }
            &:nth-child(even) {
                padding-left: 25px;
                @media(max-width: 991px) {
                    padding-left: 0px;
                }
            }
            @media(max-width: 991px) {
                max-width: 320px;
                margin-left: calc(50% - 110px);
            }
            @media(max-width: 500px) {
                margin-left: 16%;
            }
            @media(max-width: 410px) {
                margin-left: 10px;
            }
            @media(max-width: 410px) {
                margin-left: 0px;
            }
        }
    }
}

section.type-of-plan {
    height: 676px;
    background-position: center;
    .container {
        width: 984px;
        @media(max-width: 984px) {
            width: 100%;
        }
    }
    .row {
        padding-left: 15px;
        @media(max-width: 480px) {
            padding-left: 0px;
        }
    }
    .grey-box {
        position: absolute;
        box-shadow: 4px 6px 10px #2f2f2f;
        top: -30px;
        max-width: 442px;
        width: 100%;
        padding-top: 60px;
        padding-left: 56px;
        padding-right: 56px;
        background-color: #4c5359;
        color: #fff;
        h3 {
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 60px;
        }
        p {
            text-align: justify;
            font-size: 16px;
            margin-bottom: 93px;
            @media(max-width: 480px) {
                margin-bottom: 50px;
            }
        }
        .plan-btn-box {
            text-align: center;
            padding-bottom: 80px;
            .plan-btn {
                border: 3px solid #fff;
                padding: 15px 40px;
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: normal;
                transition: all 0.3s;
                &:hover {
                    color: #000;
                    background-color: #fff;
                }
            }
            @media(max-width: 480px) {
                padding-bottom: 20px;
            }
        }
        @media(max-width: 991px) {
            top: 0px;
        }
        @media(max-width: 480px) {
            position: relative;
            max-width: 100%;
            padding: 30px 30px;
        }
    }
    @media(max-width: 480px) {
        height: auto;
    }
}

section.home-design {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay {
        position: absolute;
        opacity: 0.50;
        background-color: #000;
        width: 100%;
        height: 100%;
    }
    .text-box {
        padding-bottom: 45px;
        text-align: center;
        h3 {
            font-family: "Century Gothic", sans-serif;
            font-weight: 700;
            color: #ffffff;
            font-size: 33.3px;
            margin-bottom: 27px;
            margin-top: 25px;
        }
        p {
            font-family: "Century Gothic", sans-serif;
            color: #fff;
            font-size: 20px;
            margin-bottom: 65px;
        }
        .main-top-img-btn {
            border: 3px solid #fff;
            padding: 15px 70px;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            font-weight: normal;
            text-transform: uppercase;
            transition: all 0.3s;
            margin-bottom: 30px;
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }
}

section.about-us {
    margin-bottom: 16px;
    .container {
        width: 984px;
        @media(max-width: 984px) {
            width: 100%;
        }
    }
    .background-box {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    h3 {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        color: #4c5359;
        padding-bottom: 25px;
        margin-top: 30px;
        margin-bottom: 25px;
        &:after {
            content: '';
            position: absolute;
            height: 3px;
            max-width: 127px;
            width: 100%;
            background-color: #f7912f;
            bottom: 0px;
            left: 0;
            @media(max-width: 991px){
                left: calc(50% - 63px);
            }
        }
        @media(max-width: 991px){
            text-align: center;
        }
    }
    .left-box,
    .right-box {
        font-family: "Century Gothic", sans-serif;
        text-align: justify;
        font-size: 16.0px;
        line-height: 22.00px;
        padding-bottom: 50px;
        span {
            font-weight: 700;
            color: #f7912f;
        }
    }
    .left-box {
        border-right: 1px solid #a9adb0;
        padding-right: 40px;
        @media(max-width: 991px){
            border: none;
            padding-right: 15px;
        }
    }
    .right-box {
        padding-left: 40px;
        @media(max-width: 991px){
            padding-left: 15px;
        }
    }
}