.thermohouse {
    height: 50%;
    section.brick-house-header .img-text {
        max-width: 100%;
        h3 {
            font-size: 48px;
            p {
                line-height: 62px;
            }
            @media(max-width: 767px){
                font-size: 33px;
            }
        }
    }
    section.brick-type {
        h3:after {
            background-color: #676667;
        }
        h4 {
            color: #f4767c;
        }
        .bottom-content p {
            span {
                float: right;
                margin-top: 25px;
                margin-bottom: 60px;
                line-height: 18.00px;
                font-family: "Arial", sans-serif;
                font-style: normal;
                font-weight: 700;
                color: #656566;
                background-color: transparent;
                text-decoration: none;
                font-variant: normal;
                font-size: 14.7px;
                vertical-align: 0;
            }
        }
    }
    /*Thermo only*/
    section.thermo-generation {
        height: 230px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        p {
            padding-top: 50px;
            padding-bottom: 35px;
            color: #fff;
            font-size: 22px;
            text-align: center;
            line-height: 25px;
            @media(max-width: 767px) {
                text-shadow: 1px 1px black;
            }
        }
        .page-btn-link {
            text-align: center;
            margin-bottom: 23px;
            a {
                font-size: 16px;
                background-color: rgba(255, 255, 255, 0.55);
                color: #000;
                padding: 11px 67px;
                text-transform: uppercase;
                border-radius: 27px 27px 27px 27px;
                text-decoration: none;
                transition: all 0.3s;
                &:hover {
                    background-color: rgba(237, 27, 36, 0.42);
                    color: #fff;
                }
            }
        }
        @media(max-width: 767px) {
            height: auto;
            padding-bottom: 30px;
        }
    }
    section.planning {
        .implementation {
            margin-bottom: 55px;
            h3 {
                font-weight: 900;
                font-size: 37px;
                span {
                    color: #ed1b24;
                }
                &:after {
                    background-color: #ed1b24;
                }
            }
            p{
                @media(max-width: 767px){
                    padding-right: 15px;
                }
            }
            .counter {
                span {
                    text-transform: none;
                    &.number {
                        color: #656566;
                        border: 2px solid #656566;
                        @media(max-width: 1000px){
                            font-size: 22px;
                        }
                    }
                    @media(max-width: 1000px){
                        font-size: 15px;
                    }
                    @media(max-width: 500px){
                        font-size: 13px;
                    }
                }
                &:nth-child(even) {
                    padding-left: 0;
                }
                @media(max-width: 991px){
                    max-width: 350px;
                }
                @media(max-width: 450px){
                    margin-left: 8%;
                }
                @media(max-width: 410px){
                    margin-left: 0%;
                }
            }
            .right-box{
                position: absolute;
                flex: 0 0 100%;
                max-width: 100%;
                img{
                    position: absolute;
                    right: -50px;
                    top: 50px;
                    @media(max-width:1190px){
                        right: 0px;
                        top: 90px;
                        width: 25%;
                    }
                }
            }
        }
    }
}